<component name="DependencyValidationManager">
  <scope name="Web" pattern="!file[batuhan-io-next]:.idea//*&amp;&amp;!file:.editorconfig&amp;&amp;!file:.eslintrc.json&amp;&amp;!file:.gitignore&amp;&amp;!file:localhost-key.pem&amp;&amp;!file:localhost.pem&amp;&amp;!file:next-env.d.ts&amp;&amp;!file:pnpm-lock.yaml&amp;&amp;!file:postcss.config.mjs&amp;&amp;!file:README.md&amp;&amp;!file:tsconfig.json" />
</component>